<p>This is the Photos view.</p>

<div id='photos' class='container'>
  <h1>Photos</h1>
  <div ng-repeat='photo in photos track by $index' ng-if='$index % 4 === 0' class='row'>
    <div class='col-xs-3'><img class='img-responsive' ng-src='{{photos[$index + 0]}}' alt='A SecCam photo'/></div>
    <div class='col-xs-3'><img class='img-responsive' ng-src='{{photos[$index + 1]}}' alt='A SecCam photo'/></div>
    <div class='col-xs-3'><img class='img-responsive' ng-src='{{photos[$index + 2]}}' alt='A SecCam photo'/></div>
    <div class='col-xs-3'><img class='img-responsive' ng-src='{{photos[$index + 3]}}' alt='A SecCam photo'/></div>
  </div>
</div>
